<!DOCTYPE html>
<html>
<head>
  <title>Facesquare</title>
  <link href='http://fonts.googleapis.com/css?family=Medula+One' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="wrapper">

      <h1><%= link_to "Facesquare", root_path %></h1>
      <nav>
        <ul>
          <% if session["current_user"] %>
            <li>Bienvenido <%= session["name"] %> <%= image_tag session["image"] %></li>
            <li><%= link_to "Salir de la sesi&oacute;n", "/sign_out" %></li>
          <% else %>
            <li><%= link_to "Login With Facebook", "/auth/facebook" %></li>
            <li><%= link_to "Login With Twitter", "/auth/twitter" %></li>
            <li><%= link_to "Login With Foursquare", "/auth/foursquare" %></li>
          <% end %>
        </ul>

      </nav>

    </div>

  </header><!-- /header -->

  <div class="wrapper">
    <%= yield %>
  </div>
<footer>
  <p>Maded with love at <%= link_to "http://railscourse.com" %></p>
</footer>

<script src="http://js.pusher.com/1.12/pusher.min.js" type="text/javascript"></script>
  <script type="text/javascript">
    // Enable pusher logging - don't include this in production
    Pusher.log = function(message) {
      if (window.console && window.console.log) window.console.log(message);
    };

    // Flash fallback logging - don't include this in production
    WEB_SOCKET_DEBUG = true;

    var pusher = new Pusher('9e48ffcf2ec64b6ac15c');
    var channel = pusher.subscribe('facesquare');
    channel.bind('post:create', function(data) {
      Facesquare.realtime.add(data.content + "en " + data.published_at)
    });
  </script>





</body>
</html>
